.word {
	font-size: 400%;
	text-align: center;
	margin-top: 150px;
}

.meaning {
	font-size: 200%;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 25%;
	display: none
}

.trashbox {
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	display: none
}

#exit {
}

#replay {
	margin-top: 100px;
}

* {
	margin: 0;
}